/************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */

	/* text */

	--color-text:#181818;
	--color-text-white:rgb(255, 255, 255);
	--color-text-header:#a0e080;

	--h2-size: 2em;
	--h3-size: 1.2em;
	--h3-color: #196D17;

	/* button */

	--color-button: #3b8526;
	--color-button-shadow: #2a631c;
	--color-button-highlight: #6bc349;

	--shadow: #0003;

	--color-background:#eee;

	--main-color-header: #202020;
	--main-color-body: #000;
}

/* jouw code */

/*****************/
/* ALGEMENE SHIT */
/*****************/

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: var(--main-color-body);
}

/* main */

main {
	display: flex;

	flex-direction: column;
	overflow-x: hidden;

	margin: 0;
	padding: 0;
	background-image: url('../images/bg-wool-dark.png');
}

/* overige */
p {
	max-width: 30em;
	margin: 2em auto;
}

h2 {
	font-size: var(--h2-size);
	text-transform: uppercase;

	margin: 0;
}

h3 {
	font-size: var(--h3-size);
	color: var(--h3-color);
	text-transform: uppercase;

	margin: 0;
}

li {
	list-style: none;
}

section {
	text-align: center;
	color: var(--color-text);
}

/**********/
/* HEADER */
/**********/

header {
	background-color: var(--main-color-header);
	padding: 1em;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

header a {
	color: var(--color-text-white);
	text-decoration: none;
	font-weight: 900;
	font-size: .8em;
	text-transform: uppercase;
}

header a:nth-of-type(2) {
	color: var(--color-text-header);
	transition: .3s;
}

@media (min-width: 871px) {
	header a:nth-of-type(2) {
		text-decoration: none;
		color: var(--color-text-white);
	
		background-color: var(--color-button);
		padding: 1em 2em 1em 3em;
		box-shadow: 
		inset 0em .3em var(--color-button-highlight),
		inset 0em -.3em var(--color-button-shadow),
		0em .3em var(--shadow);
	
		transition: .3s;
	}

	header a:nth-of-type(2):hover {
		background-image: linear-gradient(rgb(46, 46, 46), black);
		box-shadow: 
		inset 0em 0em var(--color-button-highlight),
		inset 0em 0em var(--color-button-shadow),
		0em 0em var(--shadow);
	
		transition: .3s;
	}
}

/* hover states */

header a:nth-of-type(2):hover {
	color: var(--color-text-white);
}

header a:hover {
	color: var(--color-text-header);
}

header nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

header img {
	width: 20em;
	transition: .3s;
}

@media (max-width: 695px) {
	header img {
		display: none;
	}
}

/*************/
/* SECTION 1 */
/*************/

section:first-of-type {
	height: 30em;
	width: 100%;
	position: relative;

	--color-section-text: white;
	padding: 5em 1em 5em 1em;

	color: var(--color-section-text);
	background-image: url('../images/home-hero-1200x600.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-color: black;
}

section > a:first-of-type {
	position: relative;
	top: 3em;
	text-transform: uppercase;
	font-weight: 900;

	text-decoration: none;
	color: var(--color-section-text);

	background-color: var(--color-button);
	padding: 2em 4em 2em 4em;
	box-shadow: 
	inset 0em .3em var(--color-button-highlight),
	inset 0em -.3em var(--color-button-shadow),
	0em .3em var(--shadow);

	transition: .3s;
}

section > a:first-of-type.hoverAnimatie {

	background-image: linear-gradient(rgb(46, 46, 46), black);
	padding: 2em 4em 2em 4em;
	box-shadow: 
	inset 0em 0em var(--color-button-highlight),
	inset 0em 0em var(--color-button-shadow),
	0em 0em var(--shadow);

	transition: .3s;
}

/* section:first-of-type p {
	max-width: 20em;
} */


/*************/
/* SECTION 2 */
/*************/

section:nth-of-type(2) {
	align-self: center;
	text-align: center;
	max-width: 90%;
	width: 80em;

	background-color: white;
	margin: 5em 2em 5em 2em;
	padding: 5em 0em 5em 0em;

	display: flex;
	flex-direction: column;
}

section:nth-of-type(2) ul {
	margin: 0;
	padding: 0em 2em 0em 2em;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1000px){
	section:nth-of-type(2) ul {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 600px){
	section:nth-of-type(2) ul {
		grid-template-columns: 1fr;
	}
}

section:nth-of-type(2) li {
	margin-left: 1em;
	margin-right: 1em;
}

section:nth-of-type(2) h2 {
	margin-bottom: 2em;
}

section:nth-of-type(2) h3 {
	margin-top: 2em;
}

section:nth-of-type(2) img {
	width: 100%;
	max-width: 20em;
}

/* Animatie */

@keyframes imgHover {
	0% {
		transform: scale(100%);
		border: var(--color-button-highlight) solid;
	}

	100% {
		transform: scale(105%);
		border: var(--color-button-highlight) solid;
	}
}

section:nth-of-type(2) img:hover {
	animation-name: imgHover;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	animation-direction: alternate;
}




/*************/
/* SECTION 3 */
/*************/

section:nth-of-type(3) {
	color: white;
	max-width: 80em;
	align-self: center;
}

section:nth-of-type(3) ul {
	display: flex;
	overflow-x: scroll;
}

section:nth-of-type(3) li {
	margin-left: 5em;
	margin-right: 5em;
}

section:nth-of-type(3) img {
	border: solid;
}




/*************/
/* SECTION 4 */
/*************/

section:nth-of-type(4) {
	background-image: url('../images/trans-top-darkwool.png'), url('../images/trans-bottom-darkwool.png'), url('../images/bg-wool-light.png');
	background-position: top, bottom, center;
	background-repeat: repeat-x, repeat-x, repeat;
	
	width: 100%;
	padding: 5em 0 5em 0;
	margin: 0;
	display: flex;
	align-self: center;
	flex-direction: column;
}

section:nth-of-type(4) h2 {
	margin-top: 1em;
}

section:nth-of-type(4) ul {
	padding: 0em 2em 0em 2em;
}

section:nth-of-type(4) li {
	margin-top: 5em;
}

section:nth-of-type(4) img {
	width: 100%;
	max-width: 30em;
}

section:nth-of-type(4) a {
	color: var(--h3-color);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
}





/*************/
/* SECTION 5 */
/*************/

section:nth-of-type(5) {
	background-color: white;
	color: white;
}

section:nth-of-type(5) ul {
	/* position: relative; */
	width: 100%;
	max-width: 60em;

	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-gap: 1em;
	align-self: center;
	
	padding: 1em;
	margin: 0 auto;
}

@media (max-width: 600px) {
	section:nth-of-type(5) ul {
		grid-template-columns: 2fr;
	}
}

section:nth-of-type(5) h2 {
	color: black;
}

section:nth-of-type(5) h2 + p {
	color: red;
} 

section:nth-of-type(5) h3 {
	background-color: white;
	color: black;

	font-weight: 900;
	font-size: 1em;
	
	padding: 1em;
	position: absolute;
	top: -1.5em;

	/* de onderstaande code heb ik hiervandaan: https://stackoverflow.com/questions/57042804/how-to-center-text-with-the-calc-function-in-css
	
	het zorgt ervoor dat een text precies wordt gecentreerd wanneer het position absolute heeft*/

	left: 50%;
    transform: translateX(-50%);
}

section:nth-of-type(5) h4 {
	color: white;

	font-weight: 900;
	text-transform: uppercase;
}

section:nth-of-type(5) p {
	color: white;
}

section:nth-of-type(5) a::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	transition: .2s;
}

section:nth-of-type(5) li:hover  a::before {
	background: hsla(30, 100%, 80%, .5)
}

section:nth-of-type(5) img {
	display: block;
	width: 100%;
}

section:nth-of-type(5) li {
	position: relative;
}

section:nth-of-type(5) article {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	padding: 3em 1em 1em 1em;

	background-color: #0009;
}




/**********/
/* FOOTER */
/**********/

footer ul {
	display: flex;
	justify-content: space-between;
}