/************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */

	/* text */

	--color-text:rgb(0, 0, 0);
	--color-text-white:rgb(255, 255, 255);
	--color-text-cta:rgb(15, 255, 27);

	/* button */

	--color-button: #3b8526;
	--color-button-shadow: #2a631c;
	--color-button-highlight: #6bc349;

	--shadow: #0003;

	--color-background:#eee;

	--main-color-header: #202020;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header */

header {
	background-color: var(--main-color-header);

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1em;
}

header a {
	color: var(--color-text-white);
	text-decoration: none;
}

header nav ul {
	list-style: none;
	
	display: flex;
	gap: 1em;
}

/* main */

main {
	margin: 0;
	padding: 0;
	
}

/* section 1 */

section:first-of-type {
	height: 30em;
	width: 100%;
	position: relative;

	--color-section-text: white;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;

	color: var(--color-section-text);
	background-image: url('../images/home-hero-1200x600.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-color: black;
}

section a:first-of-type {
	position: relative;
	top: 3em;

	text-decoration: none;
	color: var(--color-section-text);

	background-color: var(--color-button);
	padding: 2em 4em 2em 4em;
	box-shadow: 
	inset 0em .3em var(--color-button-highlight),
	inset 0em -.3em var(--color-button-shadow),
	0em .3em var(--shadow);
}

section p:first-of-type {
	min-width: 20em;
	max-width: 40em;
	margin: auto;
}

/* section 2 */

section:nth-of-type(2) {
	width: 100%;
	position: relative;
	background-color: black;

	--color-section-text: white;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}

section h3 {
	color: var(--color-button);
}

section ul {
	position: relative;
	display: flex;
	flex-wrap: wrap;

	list-style: none;
	width: 60%;
	margin: auto;
	background-color: rgb(255, 255, 255);
}