/************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */

	/* text */

	--color-text:#000000;
	--color-text-white:rgb(255, 255, 255);
	--color-text-header:#a0e080;

	--h2-size: 2em;
	--h3-size: 1.2em;
	--h3-color: #196D17;

	/* button */

	--color-button: #3b8526;
	--color-button-shadow: #2a631c;
	--color-button-super-shadow: #16310f;
	--color-button-highlight: #6bc349;

	--color-button-blue: #95e8ff;
	--color-button-blue-shadow: #339cd7;

	--color-button-gold: #fad36f;
	--color-button-gold-shadow: #de7523;

	--color-button-hover-grey: linear-gradient(rgb(46, 46, 46), rgb(134, 134, 134));

	--shadow: #0003;

	--color-background:#eee;
	--color-background-pagina-2-section: #f1ad42;
	--color-backgrounnd-pagina-2-section-2: #00337D;

	--main-color-header: #202020;
	--main-color-body: #000;
}

@media (prefers-color-scheme: dark) {
	section:nth-of-type(2) {
		color: white;

		/* onderstaande code werkt niet zonder !important. Geen idee waarom. Bron: https://forum.freecodecamp.org/t/why-is-my-background-color-not-changing/251971 */
		background-color: black !important;
	}

	section:nth-of-type(4) {
		background: none !important;
		background-color: black !important;
		color: white;
	}

	section:nth-of-type(5) {
		background-color: var(--main-color-header) !important;
	}

	section:nth-of-type(5) h2, p {
		color: white !important;
	}
}

/* jouw code */

/*****************/
/* ALGEMENE SHIT */
/*****************/

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: var(--main-color-body);
}

a:focus {
	background-color: var(--color-button);
	color: white;
	border: solid .1em;
}

/* main */

main {
	display: flex;

	flex-direction: column;
	overflow-x: hidden;

	margin: 0;
	padding: 0;
	background-image: url('../images/bg-wool-dark.png');
}

/* overige */
p {
	max-width: 30em;
	margin: 2em auto;
}

h1 {
	font-size: var(--h2-size);
	text-transform: uppercase;

	margin: 0;
}

h2 {
	font-size: var(--h2-size);
	text-transform: uppercase;

	margin: 0;
}

h3 {
	font-size: var(--h3-size);
	color: var(--h3-color);
	text-transform: uppercase;

	margin: 0;
}

li {
	list-style: none;
}

section {
	text-align: center;
	color: var(--color-text);
}

/**********/
/* HEADER */
/**********/

header {
	background-color: var(--main-color-header);
	padding: 1em;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

header button {
	text-decoration: none;
	color: var(--color-text-white);

	background-color: var(--color-button);
	padding: 1em 2em 1em 2em;
	box-shadow: 
	inset 0em .3em var(--color-button-highlight),
	inset 0em -.3em var(--color-button-shadow),
	0em .3em var(--shadow);
	border: none;
}

@media (max-width: 379px) {
	
	header img {
		display: none;
	}
}

header img {
	max-width: 100%;
	width: 20em;
}

header a {
	color: var(--color-text-white);
	text-decoration: none;
	font-weight: 900;
	font-size: .8em;
	text-transform: uppercase;
	padding: 1em;
}

header a:nth-of-type(2) {
	color: var(--color-text-header);
	transition: .3s;
}

@media (min-width: 871px) {
	header a:nth-of-type(2) {
		text-decoration: none;
		color: var(--color-text-white);
	
		background-color: var(--color-button);
		padding: 1em 2em 1em 2em;
		box-shadow: 
		inset 0em .3em var(--color-button-highlight),
		inset 0em -.3em var(--color-button-shadow),
		0em .3em var(--shadow);
	
		transition: .3s;
	}

	header a:nth-of-type(2):hover {
		background-image: linear-gradient(rgb(46, 46, 46), black);
		box-shadow: 
		inset 0em 0em var(--color-button-highlight),
		inset 0em 0em var(--color-button-shadow),
		0em 0em var(--shadow);
	}

	header a:nth-of-type(2):focus {
		background-image: linear-gradient(rgb(46, 46, 46), black);
		box-shadow: 
		inset 0em 0em var(--color-button-highlight),
		inset 0em 0em var(--color-button-shadow),
		0em 0em var(--shadow);
	}
}

/* hamburger menu */

@media (max-width: 695px) {
	header {
		position: sticky;
		top: 0;
		z-index: 6;
	}

	header img {
		width: 20em;
	}

	header h2 {
		color: var(--color-text-white);
	}

	nav:nth-of-type(2) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.863);
		transform: translateX(-100%);
		transition: .5s;
	}

	nav:nth-of-type(2).toonMenu {
		transform: translateX(0);
	}

	/* als ik de onderstaande code gebruik, werkt mijn terug knop niet meer. Dus ik weet hoe ik focus within kan gebruiken, maar niet zonder iets anders te breken */
	
	/* nav:nth-of-type(2).toonMenu, nav:focus-within {
		transform: translateX(0);
	} */


	header nav:nth-of-type(2) ul {
		margin: 0;
		padding: 0;
		position: relative;
	}

	header nav:nth-of-type(2) a:focus-visible {
		color: var(--color-text);
		background-color: var(--color-button-highlight);
		font-weight: 900;	
	}

	header nav:nth-of-type(2) li {
		margin: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.274);
		text-transform: uppercase;
	}

	header nav:nth-of-type(2) a {
		font-weight: 100;
		color: var(--color-button-highlight);
		display: block;
		padding: 1em 1em 1em 2em;
	}

	header nav:nth-of-type(2) a:hover {
		color: var(--color-text);
		background-color: var(--color-button-highlight);
		font-weight: 900;
	}

	header nav:nth-of-type(2) a:active {
		color: var(--color-text);
		background-color: var(--color-button-shadow);
		font-weight: 900;
	}

	header nav:nth-of-type(2) button {
		margin: 2em 2em 0em 2em;
	}

	header nav:nth-of-type(2) ul:last-of-type li:first-of-type {
		border-top: .2em solid var(--color-button-highlight);
	}

	header nav:nth-of-type(2) ul:first-of-type li:first-of-type {
		color: var(--color-text-white);
		font-weight: 900;
		padding: 1em 1em 1em 2em;
	}

	/* elementen die verdwijnen */
	
	header a:nth-of-type(2) {
		display: none;
	}

	header nav:nth-of-type(1){
		display: none;
	}
}

@media (min-width: 695px) {
	
	header button {
		display: none;
	}

	header nav:nth-of-type(2) ul {
		display: none;
	}
}

/* hover states */

header a:nth-of-type(2):hover {
	color: var(--color-text-white);
}

header a:hover {
	color: var(--color-text-header);
}

header nav:nth-of-type(1) ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

/*************/
/* 	HEADER   */
/*	PAGINA 2 */
/*************/

@media (min-width: 871px) {
	.pagina-2 header a:nth-of-type(2) {
		text-decoration: none;
		color: var(--color-text);
	
		background-color: var(--color-button-gold);
		padding: 1em 2em 1em 2em;
		box-shadow: inset 0em -.3em var(--color-button-gold-shadow);
		transition: .3s;

		position: relative;
	}

	.pagina-2 header a:nth-of-type(2)::before {
		content: "";
		width: 1em;
		height: 60%;
		position: absolute;
		left: -1em;
		top: .6em;
	
		background-color: var(--color-button-gold);
		box-shadow: inset 0em -.3em var(--color-button-gold-shadow);

		transition: .3s;
	}
	
	.pagina-2 header a:nth-of-type(2)::after {
		content: "";
		width: 1em;
		height: 60%;
		position: absolute;
		right: -1em;
		top: .6em;
	
		background-color: var(--color-button-gold);
		box-shadow: inset 0em -.3em var(--color-button-gold-shadow);

		transition: .3s;
	}

	/* hover states  */

	.pagina-2 header a:nth-of-type(2):hover {
		color: white;
		background-image: var(--color-button-hover-grey);
		box-shadow:
		inset 0em 0em var(--color-button-gold-shadow);
	}

	.pagina-2 header a:nth-of-type(2):hover::before {
		color: white;
		background-image: var(--color-button-hover-grey);
		box-shadow:
		inset 0em 0em var(--color-button-gold-shadow);
	}

	.pagina-2 header a:nth-of-type(2):hover::after {
		color: white;
		background-image: var(--color-button-hover-grey);
		box-shadow:
		inset 0em 0em var(--color-button-gold-shadow);
	}

	/* focus states */

	.pagina-2 header a:nth-of-type(2):focus {
		color: white;
		background-image: var(--color-button-hover-grey);
		box-shadow:
		inset 0em 0em var(--color-button-gold-shadow);
	}

	.pagina-2 header a:nth-of-type(2):focus::before {
		color: white;
		background-image: var(--color-button-hover-grey);
		box-shadow:
		inset 0em 0em var(--color-button-gold-shadow);
	}

	.pagina-2 header a:nth-of-type(2):focus::after {
		color: white;
		background-image: var(--color-button-hover-grey);
		box-shadow:
		inset 0em 0em var(--color-button-gold-shadow);
	}
}




/*************/
/* SECTION 1 */
/*************/

section:first-of-type {
	height: 30em;
	width: 100%;
	position: relative;

	--color-section-text: white;
	padding: 5em 1em 5em 1em;

	color: var(--color-section-text);
	background-image: url('../images/home-hero-1200x600.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-color: black;
}

section > a:first-of-type {
	position: relative;
	top: 3em;
	text-transform: uppercase;
	font-weight: 900;

	text-decoration: none;
	color: var(--color-section-text);

	background-color: var(--color-button);
	padding: 2em 4em 2em 4em;
	box-shadow: 
	inset 0em .3em var(--color-button-highlight),
	inset 0em -.3em var(--color-button-shadow),
	0em .3em var(--shadow);

	transition: .3s;
}

@media (max-width: 379px) {
	section > a:first-of-type {
		font-size: .6em;
	}
}

section > a:first-of-type:hover {
	background-image: linear-gradient(rgb(46, 46, 46), black);
	padding: 2em 4em 2em 4em;
	box-shadow: 
	inset 0em 0em var(--color-button-highlight),
	inset 0em 0em var(--color-button-shadow),
	0em 0em var(--shadow);

	transition: .3s;
	
}

section > a:first-of-type:focus {
	background-image: linear-gradient(rgb(46, 46, 46), black);
	padding: 2em 4em 2em 4em;
	box-shadow: 
	inset 0em 0em var(--color-button-highlight),
	inset 0em 0em var(--color-button-shadow),
	0em 0em var(--shadow);

	transition: .3s;
	
}

/*************/
/* SECTION 1 */
/*	PAGINA 2 */
/*************/

@media (max-width: 463px) {
	.pagina-2 section:first-of-type a {
		position: relative;
		font-size: .6em;
	}

	.pagina-2 section:first-of-type h2 {
		position: relative;
		margin: 0;
		padding: 0;
		top: 0;
	}
}

.pagina-2 section:first-of-type {
	height: 50em;
	width: 100%;
	position: relative;

	--color-section-text: white;
	padding: 5em 1em 5em 1em;

	color: var(--color-section-text);
	background-image: url('../images/pagina-twee/MCL-PMP_Badger_Landscape-Hero-2700x900.jpg'), url('../images/pagina-twee/MCL_Transition_Gold_5120x120.png');
	background-position: top, left bottom;
	background-size: 100em, 200em;
	background-repeat: no-repeat;
	background-color: black;
}

.pagina-2 section:first-of-type h1 {
	visibility: hidden;
}

.pagina-2 section:first-of-type h2 {
	margin-top: 10em;
}

.pagina-2 section:first-of-type a {
	position: relative;

	text-decoration: none;
	color: var(--color-text);

	background-color: var(--color-button-blue);
	padding: 2em 4em 2em 4em;
	box-shadow: inset 0em -.3em var(--color-button-blue-shadow);

	transition: .3s;
}

.pagina-2 section:first-of-type a::before {
	content: "";
	width: 1em;
	height: 4em;
	position: absolute;
	left: -1em;
	top: .6em;

	background-color: var(--color-button-blue);
	box-shadow: inset 0em -.3em var(--color-button-blue-shadow);

	transition: .3s;
}

.pagina-2 section:first-of-type a::after {
	content: "";
	width: 1em;
	height: 4em;
	position: absolute;
	right: -1em;
	top: .6em;

	background-color: var(--color-button-blue);
	box-shadow: inset 0em -.3em var(--color-button-blue-shadow);

	transition: .3s;
}

/* hover states */

.pagina-2 section:first-of-type a:hover {
	color: white;
	background-image: var(--color-button-hover-grey);
	box-shadow:
	inset 0em 0em var(--color-button-blue-shadow);
}

.pagina-2 section:first-of-type a:hover::before {
	color: white;
	background-image: var(--color-button-hover-grey);
	box-shadow:
	inset 0em 0em var(--color-button-blue-shadow);
}

.pagina-2 section:first-of-type a:hover::after {
	color: white;
	background-image: var(--color-button-hover-grey);
	box-shadow:
	inset 0em 0em var(--color-button-blue-shadow);
}

/* focus states */

.pagina-2 section:first-of-type a:focus {
	color: white;
	background-image: var(--color-button-hover-grey);
	box-shadow:
	inset 0em 0em var(--color-button-blue-shadow);
}

.pagina-2 section:first-of-type a:focus::before {
	color: white;
	background-image: var(--color-button-hover-grey);
	box-shadow:
	inset 0em 0em var(--color-button-blue-shadow);
}

.pagina-2 section:first-of-type a:focus::after {
	color: white;
	background-image: var(--color-button-hover-grey);
	box-shadow:
	inset 0em 0em var(--color-button-blue-shadow);
}



/*************/
/* SECTION 2 */
/*************/

section:nth-of-type(2) {
	align-self: center;
	text-align: center;
	max-width: 90%;
	width: 80em;

	background-color: white;
	margin: 5em 2em 5em 2em;
	padding: 5em 0em 5em 0em;

	display: flex;
	flex-direction: column;
}

section:nth-of-type(2) ul {
	margin: 0;
	padding: 0em 2em 0em 2em;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1000px){
	section:nth-of-type(2) ul {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 600px){
	section:nth-of-type(2) ul {
		grid-template-columns: 1fr;
	}
}

section:nth-of-type(2) li {
	margin-left: 1em;
	margin-right: 1em;
}

section:nth-of-type(2) h2 {
	margin-bottom: 2em;
}

section:nth-of-type(2) h3 {
	margin-top: 2em;
}

section:nth-of-type(2) img {
	width: 100%;
	max-width: 20em;
}

/* Animatie */

@keyframes imgHover {
	0% {
		transform: scale(100%);
		border: var(--color-button-highlight) solid;
	}

	100% {
		transform: scale(105%);
		border: var(--color-button-highlight) solid;
	}
}

section:nth-of-type(2) img:hover {
	animation-name: imgHover;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	animation-direction: alternate;
}

/*************/
/* SECTION 2 */
/*	PAGINA 2 */
/*************/

.pagina-2 section:nth-of-type(2) {
	width: 100vw;
	max-width: 100%;
	margin: 0;
	padding: 0em 0em 15em 0em;

	background-color: var(--color-background-pagina-2-section);
	display: flex;
	flex-direction: column;

	background-image: url("..//images/pagina-twee/MCL_Transition_White-Glow_02.jpg");
	background-position: bottom;
	background-repeat: repeat-x;
}

.pagina-2 section:nth-of-type(2) h2 {
	margin: 1em 0;
	max-width: 20em;
}

.pagina-2 section:nth-of-type(2) p {
	margin: 1em 0;
}

.pagina-2 section:nth-of-type(2) form {
	margin: auto;
	max-width: 90%;
	text-align: left;
}

.pagina-2 section:nth-of-type(2) label input:first-of-type, select {
	width: 100%;
	height: 3em;

	display: flex;
	flex-direction: row;
	margin: 1em 0;
	max-width: 100%;
}

.pagina-2 section:nth-of-type(2) label {
	font-weight: 900;
}

.pagina-2 section:nth-of-type(2) p:last-of-type {
	color: white;
	text-shadow: .1em .1em #000;
	font-weight: 900;
}

.pagina-2 input[type=submit] {
	background-color: var(--color-button-blue);
	padding: 1em 2em;
	box-shadow: inset 0em -.3em var(--color-button-blue-shadow);
	border: none;

	text-transform: uppercase;
	font-weight: 900;
	transition: .3s;
}

.pagina-2 input[type=submit]:hover {
	background-image: var(--color-button-hover-grey);
	color: white;
	box-shadow: inset 0em 0em var(--color-button-blue-shadow);
	cursor: pointer;
}

.pagina-2 input[type=submit]:focus {
	background-image: var(--color-button-hover-grey);
	color: white;
	box-shadow: inset 0em 0em var(--color-button-blue-shadow);

}

.pagina-2 input[type=submit] {
	content: "helloo";
}

input[type=email]:valid {
	background-color: lightgreen;
}




/*************/
/* SECTION 3 */
/*************/

section:nth-of-type(3) {
	color: var(--color-text-white);
	max-width: 80em;
	align-self: center;
}

@media (max-width: 1266px) {
	section:nth-of-type(3) {
		align-self: stretch;
	}
}

section:nth-of-type(3) p {
	margin-top: 0;
}

section:nth-of-type(3) footer {
	position: relative;
	background-color: white;
	color: black;
	text-transform: uppercase;

	font-weight: 900;
	font-size: .8em;
	width: 10em;
	align-items: center;
	
	padding: 1em;
	margin: -2em auto auto auto ;
	z-index: 5;
}

section:nth-of-type(3) h3 {
	color: var(--color-text-white);

	text-transform: uppercase;
	font-weight: 900;
	text-transform: uppercase;

	margin: 1em 0;
}

section:nth-of-type(3) ul {
	display: flex;
	overflow-x: scroll;
}

section:nth-of-type(3) li {
	margin-left: 5em;
	margin-right: 5em;
}

section:nth-of-type(3) img {
	position: relative;
	border: solid var(--color-text-white);
}

section:nth-of-type(3) img:hover {
	border: solid var(--color-button-highlight);
}

/* scrollbar styling */

section:nth-of-type(3) ::-webkit-scrollbar {
	width: auto;
	max-width: 100%;
}

section:nth-of-type(3) ::-webkit-scrollbar-track {
	background: black;
}

section:nth-of-type(3) ::-webkit-scrollbar-thumb {
	background-color: var(--color-button);
	border: .2em solid black;
}

section:nth-of-type(3) ::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-button-highlight);
	
}
section:nth-of-type(3) ::-webkit-scrollbar-thumb:active {
	background-color: var(--color-button-shadow);
	
}

/*************/
/* SECTION 3 */
/*	PAGINA 2 */
/*************/

.pagina-2 section:nth-of-type(3) {
	color: var(--color-text-white);
	background-color: var(--color-backgrounnd-pagina-2-section-2);
	max-width: 100%;
	width: 100vw;
	align-self: center;
}

.pagina-2 section:nth-of-type(3) img {
	max-width: 90%;
	align-self: center;
	border: none;
}

.pagina-2 section:nth-of-type(3) h2 {
	padding: 2em 0;
}

.pagina-2 section:nth-of-type(3) div {
	position: relative;
	padding-bottom: 4em;
}

.pagina-2 section:nth-of-type(3) button {
	position: absolute;

	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);

	padding: 2em;
	background-color: var(--color-button-blue);
	border: solid .5em lightskyblue;
	border-radius: 10em;
	border-bottom: solid .5em var(--color-button-blue-shadow);

	background-image: url(../images/play.png);
	background-position: center;

	transition: .3s;

}

.pagina-2 section:nth-of-type(3) button:hover {

	background-color: rgb(66, 66, 66);
	border: solid 0em lightskyblue;
	border-radius: 10em;
	border-bottom: solid 0em var(--color-button-blue-shadow);

	width: 6em;
	height: 6em;

	background-image: url(../images/play.png);
	background-position: center;
	background-repeat: no-repeat;

}

.pagina-2 section:nth-of-type(3) button:focus {

	background-color: rgb(66, 66, 66);
	border: solid 0em lightskyblue;
	border-radius: 10em;
	border-bottom: solid 0em var(--color-button-blue-shadow);

	width: 6em;
	height: 6em;

	background-image: url(../images/play.png);
	background-position: center;
	background-repeat: no-repeat;

}


/*************/
/* SECTION 4 */
/*************/

section:nth-of-type(4) {
	background-image: url('../images/trans-top-darkwool.png'), url('../images/trans-bottom-darkwool.png'), url('../images/bg-wool-light.png');
	background-position: top, bottom, center;
	background-repeat: repeat-x, repeat-x, repeat;
	
	width: 100%;
	padding: 5em 0 5em 0;
	margin: 0;
	display: flex;
	align-self: center;
	flex-direction: column;
	align-items: center;
}

section:nth-of-type(4) h2 {
	margin-top: 1em;
	max-width: 15em;
}

section:nth-of-type(4) ul {
	padding: 0em 2em 0em 2em;
}

section:nth-of-type(4) li {
	margin-top: 5em;
}

section:nth-of-type(4) img {
	width: 100%;
	max-width: 30em;
}

section:nth-of-type(4) a {
	color: var(--h3-color);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
}

section:nth-of-type(4) a:hover {
	color: white;
	background-color: var(--color-button);
	border: solid .1em var(--color-button);
	border-radius: .2em;
}

section:nth-of-type(4) a:focus {
	color: white;
}

@media (min-width: 1100px){
	section:nth-of-type(4) li {
		display: flex;
		justify-content: center;
		text-align: left;
	}

	section:nth-of-type(4) li:nth-of-type(3) {
		margin-bottom: 5em;
	}

	section:nth-of-type(4) h2 {
		max-width: 15em;
	}

	section:nth-of-type(4) p {
		max-width: 25em;
		margin-left: 0;
	}

	section:nth-of-type(4) article {
		margin-left: 5em;
	}

	section:nth-of-type(4) li:nth-of-type(2) article {
		margin-right: 5em;
	}

	section:nth-of-type(4) li:nth-of-type(2) img {
		order: 1;
	}


}

/*************/
/* SECTION 4 */
/*	PAGINA 2 */
/*************/

.pagina-2 section:nth-of-type(4) {
	background-image: none;
	background-color: #339cd7;
	width: 100%;
	padding: 5em 0 5em 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pagina-2 section:nth-of-type(4) img {
	max-width: 90%;
	width: 50em;
}

.pagina-2 section:nth-of-type(4) p {
	margin: 2em auto;
}

.pagina-2 section:nth-of-type(4) a {
	color: var(--color-text-white);
}



/*************/
/* SECTION 5 */
/*************/

section:nth-of-type(5) {
	background-color: white;
	color: white;
}

section:nth-of-type(5) ul li{
	overflow: hidden;
}

section:nth-of-type(5) ul {
	/* position: relative; */
	width: 100%;
	max-width: 60em;

	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-gap: 1em;
	align-self: center;
	
	padding: 1em;
	margin: 0 auto;
}

@media (max-width: 600px) {
	section:nth-of-type(5) ul {
		grid-template-columns: 2fr;
	}
}

section:nth-of-type(5) h2 {
	color: black;
	
	margin-top: 2em;
}

section:nth-of-type(5) h2 + p {
	color: var(--color-text);
} 

section:nth-of-type(5) footer {
	background-color: white;
	color: black;

	text-transform: uppercase;
	font-weight: 900;
	font-size: 1em;
	
	padding: 1em;
	position: absolute;
	top: -1.5em;

	/* de onderstaande code heb ik hiervandaan: https://stackoverflow.com/questions/57042804/how-to-center-text-with-the-calc-function-in-css
	
	het zorgt ervoor dat een text precies wordt gecentreerd wanneer het position absolute heeft*/

	left: 50%;
    transform: translateX(-50%);
}

section:nth-of-type(5) h3 {
	color: var(--color-text-white);

	font-weight: 900;
	text-transform: uppercase;
}

section:nth-of-type(5) p {
	color: var(--color-text-white);
}

section:nth-of-type(5) a::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	transition: .2s;
}

/* focus state */

section:nth-of-type(5) a:focus::before {
	border: solid .5em rgb(34, 131, 25);
	background-color: #FFF2;
}

section:nth-of-type(5) a:focus li img {
	transform: scale(1.1);
}

section:nth-of-type(5) div {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	padding: 3em 1em 1em 1em;

	background-color: #0009;
	z-index: 2;

	transform: translateY(45%);
	transition: .5s;
}

section:nth-of-type(5) li:hover div {
	transform: translateY(0);
}

section:nth-of-type(5) li:hover img {
	transform: scale(1.1);
}

section:nth-of-type(5) img {
	display: block;
	width: 100%;
	transition: .5s;
}

section:nth-of-type(5) li {
	position: relative;
	overflow: hidden;
}

section:nth-of-type(5) button {
	color: var(--color-text-white);
	text-transform: uppercase;
	font-weight: 900;
	border: none;
	background-color: var(--color-button);

	padding: 1em 2em 1em 2em;
	margin-bottom: 1em;

	box-shadow: 
	inset 0em .3em var(--color-button-highlight),
	inset 0em -.3em var(--color-button-shadow),
	0em .3em var(--shadow);

	transition: .5s;
}

section:nth-of-type(5) button:hover {
	background-image: linear-gradient(rgb(46, 46, 46), black);
	box-shadow: 
	inset 0em 0em var(--color-button-highlight),
	inset 0em 0em var(--color-button-shadow),
	0em 0em var(--shadow);
}

section:nth-of-type(5) button:focus {
	background-image: linear-gradient(rgb(46, 46, 46), black);
	box-shadow: 
	inset 0em 0em var(--color-button-highlight),
	inset 0em 0em var(--color-button-shadow),
	0em 0em var(--shadow);
}

/*************/
/* SECTION 5 */
/*	PAGINA 2 */
/*************/

.pagina-2 section:nth-of-type(5) {
	background-color: var(--color-backgrounnd-pagina-2-section-2);
}

.pagina-2 section:nth-of-type(5) h2 {
	color: var(--color-text-white);
}






/*************/
/* SECTION 6 */
/*	PAGINA 2 */
/*************/

.pagina-2 section:nth-of-type(6) {
	background-color: #EEE6E2;
}

.pagina-2 section:nth-of-type(6) h2 {
	margin: 1em 0;
}

.pagina-2 section:nth-of-type(6) img {
	max-width: 100%;
}





/**********/
/* FOOTER */
/**********/

footer h2 {
	color: white;
	text-align: center;
	margin: 1em 0;
}

footer ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0 2em;
}

footer a:focus {
	border: solid .1em white;
	background: none;
}